<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Associated Domains - 通用链接支持 -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.arenafi.org</string>
		<string>applinks:arenafi.org</string>
		<string>webcredentials:www.arenafi.org</string>
	</array>
	
	<!-- Push Notifications -->
	<key>aps-environment</key>
	<string>development</string>
	
	<!-- Keychain Sharing - 安全存储 -->
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.arenafi.app</string>
	</array>
</dict>
</plist>
